@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e; /* Thumb color on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #4a4a4a #2d2d2d; /* Thumb color and track color */
}
